#page{
	// z-index: $content-zindex;
	// ------------- MIXINS ------------- //
	@mixin transition($time, $property: all, $easing: ease-in) {
	    transition: $property $time $easing;
	}

	.background {
	  user-select: none;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	  overflow: hidden;
	  will-change: transform;
	  backface-visibility: hidden;
	  height: 100vh + $parallax-offset;
	  position: fixed;
	  width: 100%;
	  transform: translateY($parallax-offset);
filter: saturate(200%);
	  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
	  &:before {
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: rgba(0,0,0,.3);
	  }
	  &:first-child {
	    background-image: url(../img/833.jpg);
	    transform: translateY(-$parallax-offset / 2);
	    .content-wrapper {
	      transform: translateY($parallax-offset /2);
	    }
	  }
	  &:nth-child(2) {
	    background-image: url(../img/834.jpg);
	  }
	  &:nth-child(3) {
	    filter: saturate(100%);
	    /*opacity: 0.5;*/
	  	background: gray;
	  	/*background-image: url(../img/bg-map.png);*/
	    /*background-image: url(../img/835.jpg);*/
	  }
	}

	/* Set stacking context of slides */
	@for $i from 1 to ($slide-number + 1) {
	    .background:nth-child(#{$i}) {
	        z-index: ($slide-number + 1) - $i; 
	    }
	}

	.content {
	  &-wrapper {
	  font-size: 2.1rem;
	  height: 100vh;
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  flex-flow: column nowrap;
	  color: #fff;
	  text-transform: uppercase;
	  transform: translateY($content-offset);
	  will-change: transform;
	  backface-visibility: hidden;
	  @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
	  }
	  &-title {
	    font-size: 12vh;
	    line-height: 1.4;
	  }
	}
	#about{
		.content{
			&-subtitle{
				padding: 50px;
				margin: 0 auto;
				width: 80%;
				font-size: 1.5rem;
				color: #303030;
				background-color: rgba(255,255,255,0.7);
				.wrapper-images{
					padding-top: 10px
				}
			}
		}
	}
	#contact{
		.content{
			&-contact{
				position: relative;
				display: inline-block;
				text-align: left;
				padding-left: $page-padding;
				.img{
					width: 330px;
					height: 370px;
					background-image: url('../img/map.png');
					position: absolute;
					right: $page-padding;
					top: 0;
				}
			}
		}
	}



	// ------------- SET TRANSFORM VALUES ------------- //

	.background.up-scroll {
	  transform: translate3d(0,-$parallax-offset / 2,0);
	  .content-wrapper {
	    transform: translateY($parallax-offset / 2);
	  }
	  + .background {
	    transform: translate3d(0,$parallax-offset,0);
	      .content-wrapper {
	        transform: translateY($parallax-offset);
	      }
	    }
	}

	.background.down-scroll {
	  transform: translate3d(0,-(100vh + $parallax-offset),0);
	  .content-wrapper {
	    transform: translateY($content-offset);
	  }
	  + .background:not(.down-scroll) {
	    transform: translate3d(0,-$parallax-offset / 2,0);
	      .content-wrapper {
	        transform: translateY($parallax-offset / 2);
	      }
	  }
	}
}


