.footer{
	z-index: $footer-zindex;
	position: relative;
	section {
		margin: 0 auto;
		position: fixed;
		bottom: 0;
		list-style:none;
		font-size:1.2rem;
		padding: 10px $header-padding;
		width: 100%;
		margin: 0;
		color: #fff;
		.footer{
			&-scrolldown-arrow{
				position: fixed;
				bottom: 0px;
				left: 50%;
				svg{
				position: relative;
				bottom: 0vh;
					width: 40px;
					height: 100%;
					path[id=roll]{
						animation-name: moveRoll;
						animation-duration: 1s;
						animation-iteration-count: infinite;
						animation-fill-mode: forwards;
						animation-timing-function: linear;
					}
					polygon[id=arrow]{
						animation-name: moveRoll;
						animation-duration: 1s;
						animation-iteration-count: infinite;
						animation-fill-mode: forwards;
						animation-timing-function: linear;
					}
				}
			}
			&-meta-links {
				display: inline-block;
			    float: left;
			    padding: 0;
			    width: 50%;
			}
			&-admin-links {
				display: inline-block;
			    float: right;
			    padding: 0;
			    text-align: right;
			    width: 50%;
			}
		}
		&:after{
			clear: both; 
			content: "";
		}
		a{
			color: $blue-darker;
			text-decoration: none;
	  }
	}
	&.single{
		.footer-scrolldown-arrow{
			display: none;
		}
	}
	@keyframes scrolldown {
	    from {
	        transform: translateY(0);
	    }
	    to   { 
	        transform: translateY(-10px);
	    }
	}
}
