.footer{
	z-index: $footer-zindex;
	position: relative;
	section {
		margin: 0 auto;
		position: fixed;
		bottom: 0;
		list-style:none;
		font-size:1.2rem;
		padding: 10px $header-padding;
		width: 100%;
		margin: 0;
		color: #fff;
		.footer{
			&-meta-links {
				display: inline-block;
			    float: left;
			    padding: 0;
			    width: 50%;
			}
			&-admin-links {
				display: inline-block;
			    float: right;
			    padding: 0;
			    text-align: right;
			    width: 50%;
			}
		}
		&:after{
			clear: both; 
			content: "";
		}
		a{
			color: $blue-darker;
			text-decoration: none;
			&:hover{
				color: $blue-base;
		}
	  }
	}

	@keyframes scrolldown {
    from {
        transform: translateY(0);
    }
    to   { 
        transform: translateY(-10px);
    }
}
}
