#page{
	.pagecontainer.single{
		background-color: #F9F9F9;
		/*background: gray;*/
		.post{
			padding: 100px 0;
			text-align: center;
			height: 100vh;
			img{
				width: auto;
				height: 100%;
				z-index: $content-zindex;
			}
		}
	}
}