@media (max-width: 500px){

}
@media screen and (max-width: 720px) {

}

@media screen and (max-width:  1030px) {

}

@media screen and(max-device-width: 640px) and(max-width: 640px){
	.header{
		padding: 0%;
		.header-links{
			top: 20%;
			right: 2%;
		}
	}
	.footer{
		section{
			font-size: 1.5rem;
			.footer{
				&-meta-links{
					width: 75%;
				}
				&-admin-links{
					width: 25%;
				}
			}
		}
	}
	#page{
		.content {
			&-wrapper {
				font-size: 3vw;
			}
		}
		.scrolldown{
			position: relative;
			bottom: 85px;
			text-align: center;
			svg{
				width: 100px;
				path[id=roll], path{
					display: none;
				}
				polygon[id=arrow]{
					animation-name: moveRoll;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					animation-fill-mode: forwards;
					animation-timing-function: linear;
				}
			}
		}
		#acceuil{
			.content-wrapper{

				.content-subtitle{
				font-size: 3vh !important;
				}
			}
		}
		#about{
			.content{
				&-title{
					font-size: 5vh;
				}
				&-subtitle{
					padding: 30px;
					margin: 0 auto;
					width: 100%;
					font-size: 1.5rem;
					color: #303030;
					background-color: rgba(255,255,255,0.8);
					.wrapper-images{
						padding-top: 10px
					}
				}
			}
		}
		#contact{
			.content{
				&-title{
					font-size: 8vh;
				}
				&-contact{
					padding: 0 5%;
					p{
					font-size: 3vh;
						margin-bottom: 5px;
					}
					.img{
						display: none;
					}
				}
			}
		}
	}
}