@media (max-width: 500px){
	.header{
		padding: 0%;
		&-logo{
			a{
				svg{
					width: 170px;
					height: 140px;
				}
			}
		}
		&-links{
			top: 20%;
			right: 2%;
		}
	}
	#page{
		.scrolldown{
			bottom: 15vh;
		}
		#about{
			.content{
				&-subtitle{
					font-size: 1.4rem;
					.wrapper-images{
						padding: 10px !important;
						article:nth-child(n+4){
							display: none;
						}
					}
				}
			}
		}
	}
}
/*@media screen and (max-width: 720px) {
}*/
@media screen and (max-width:  1030px) {
	#page{
		.content {
			&-wrapper {
				font-size: 2vw;
			}
		}
		#about{
			.content{
				&-title{
					font-size: 5vh;
				}
				&-subtitle{
					padding: 20px;
					width: 100%;
					.wrapper-images{
						padding: 10px 5px 5px 0px;
						article{
							padding-left: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and(max-width: 640px){
	.header{
		padding: 0%;
		&-links{
			top: 10%;
			right: 2%;
			ul{
				font-size: 1.7rem;
			}
		}
	}
	.footer{
		display: none;
	}
	#page{
		.scrolldown{
/*			bottom: 55px;*/
			svg{
				width: 100px;
				path[id=roll], path{
					display: none;
				}
			}
		}
		.content {
			&-wrapper {
				font-size: 3.5vw;
			}
		}
		#acceuil{
			.content-wrapper{
				.content-subtitle{
					font-size: 3vh !important;
				}
			}
		}
		#about{
			.content{
				&-title{
					font-size: 4vh;
				}
				&-subtitle{
					padding: 30px;
					width: 100%;
					.wrapper-images{
						padding: 10px 30px;
						article{
							img{
								width: 130px;
								height: 130px;
							}
						}
					}
				}
			}
		}
		#contact{
			.content{
				&-contact{
					padding: 0 5%;
					p{
						font-size: 3vh;
					}
					.img{
						display: none;
					}
				}
			}
		}
	}
}