$html-fz: 10px;

$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

$blue-base:        rgba(94,177,255,1);
$blue-darker:      rgba(94,177,255,0.9); 
$blue-dark:        rgba(94,177,255,0.7);   
$blue:             rgba(94,177,255,0.5); 
$blue-light:       rgba(94,177,255,0.3); 
$blue-lighter:     rgba(94,177,255,0.1); 

$header-zindex: 40;
$content-zindex: 30;
$footer-zindex: 10;
$sup-zindex: 40 !important;

$header-padding: 10%;
$page-padding: 10vw;